.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
config/*.env.js
src/assets/
/index.html
/static/
src/pages/Customers.vue

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

package-lock.json
